header {
    width: 100%;
    background: #ffffff1c;
    backdrop-filter: blur(5px);
    padding: 10px 0;
    position: absolute;
    z-index: 2;
}

header .logo {
    width: 200px;
}

header .logo img {
    filter: invert(1);
}

header .combo_btn {
    margin: 0;
    justify-content: end;
}

.banner {
    /* background: #e0f5fe; */
    padding: 250px 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.banner::before {
    content: "";
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, #0000008a, #e0f5fe80); */
    background: #0000008a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.banner .inner_left p {
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--light-color);
}

.banner .inner_right {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.banner .inner_right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.index_wrapper_fisrt {
    background: linear-gradient(60deg, rgba(83, 60, 145, 1) 0%, rgba(0, 204, 203, 1) 100%);
    padding: 30px 25px;
}

.index_wrapper_fisrt .index_inner_wrapper {
    background: var(--light-color);
    padding: 80px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.index_wrapper_fisrt .inner_wrapper h2 {
    text-align: center;
}

.index_wrapper_fisrt .inner_wrapper h3 {
    text-align: center;
    margin: 25px 0;
}

.index_wrapper_fisrt .inner_wrapper .para {
    text-align: center;
    padding: 0px 190px;
}

.services {
    padding: 25px 0;
}

.services .sub_heading {
    margin: 0;
}

.services .services_slider {
    display: flex;
    margin: 70px 0 30px;
}

.services .services_slider li {
    width: 25%;
}

.services .box {
    width: 100%;
    height: 580px;
    background: var(--light-color);
    border-radius: 15px;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5);
    padding: 80px 20px 100px 20px;
    position: relative;
    z-index: 1;
}

.services .box .box_icon {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 10px -10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .services_slider li:nth-child(1) .box .box_icon {
    background: #4c2f9a;
}

.services .services_slider li:nth-child(2) .box .box_icon {
    background: #0b385a;
}

.services .services_slider li:nth-child(3) .box .box_icon {
    background: rgb(8 199 200);
}

.services .services_slider li:nth-child(4) .box .box_icon {
    background: rgb(144 152 221);
}

.services .box .box_icon img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.services .box_title {
    background: rgb(76 47 154);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.services .services_slider li:nth-child(1) .box_title {
    background: #4c2f9a;
}

.services .services_slider li:nth-child(2) .box_title {
    background: #0b385a;
}

.services .services_slider li:nth-child(3) .box_title {
    background: rgb(8 199 200);
}

.services .services_slider li:nth-child(4) .box_title {
    background: rgb(144 152 221);
}

.services .box_title h5 {
    color: var(--light-color);
    font-size: 18px;
    line-height: 25px;
    font-family: var(--font-base);
    text-transform: uppercase;
    font-weight: var(--font-500);
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
}

.services .box_list {
    margin: 20px 0;
}

.services .box_list h6 {
    font-weight: var(--font-600);
    font-family: var(--font-base);
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}

.services .box_list li {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    margin-left: 30px;
    list-style: disc;
    font-weight: var(--font-300);
}

.services .box_list h6~h6 {
    margin-top: 50px;
}

.services .box .combo_btn {
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.services .box .combo_btn .btn {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.services .services_slider li:nth-child(1) .box .combo_btn .btn {
    background: #4c2f9a;
}

.services .services_slider li:nth-child(2) .box .combo_btn .btn {
    background: #0b385a;
}

.services .services_slider li:nth-child(3) .box .combo_btn .btn {
    background: rgb(8 199 200);
}

.services .services_slider li:nth-child(4) .box .combo_btn .btn {
    background: rgb(144 152 221);
}

.index_wrapper_second {
    background: linear-gradient(174deg, rgba(255, 255, 255, 1) 0%, rgba(83, 60, 145, 0.4) 100%);
    padding: 30px 25px;
}

.index_wrapper_second .index_inner_wrapper {
    background: rgba(255, 255, 255, 0.3);
    padding: 20px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.index_wrapper_second .index_inner_wrapper .left_wrapper {
    margin-right: 100px;
}

.index_wrapper_second .index_inner_wrapper .left_wrapper img {
    display: block;
    margin-left: auto;
}

.index_wrapper_second .index_inner_wrapper .right_wrapper h2 {
    line-height: 70px;
    letter-spacing: 4px;
}

.index_wrapper_second .index_inner_wrapper .right_wrapper p {
    line-height: 45px;
    font-weight: var(--font-500);
    font-family: var(--font-base);
}

.index_wrapper_third {
    padding: 80px 0;
}

.index_wrapper_third .top_wrapper .para {
    text-align: center;
    padding: 0px 190px;
}

.index_wrapper_third .content_wrapper {
    margin-top: 50px;
}

.index_wrapper_third .content_wrapper .index_wrapper_third_slider,
.index_wrapper_third .content_wrapper .index_wrapper_third_slider_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 110px;
}

.index_wrapper_third .content_wrapper .index_wrapper_third_slider_2 {
    margin: 0;
    margin-right: 110px;
    transform: translateY(-80px);
}

.index_wrapper_third .content_wrapper .box {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


.index_wrapper_four {
    padding: 0 0 40px;
}

.index_wrapper_four .content_wrapper {
    margin-top: 60px;
}

.index_wrapper_four .index_wrapper_four_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}


.index_wrapper_four .index_wrapper_four_slider li {
    width: 30%;
}

.index_wrapper_four .box img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.index_wrapper_four .box h6 {
    margin: 20px 0 5px;
    text-transform: uppercase;
    font-weight: var(--font-700);
    color: var(--secondary-color);
}

.index_wrapper_four .box .para {
    margin: 0;
    text-transform: capitalize;
    font-weight: var(--font-500);
}

.index_wrapper_four .inner_para {
    margin: 60px 120px;
}

.custom_banners {
    margin: 40px 170px 0;
    position: relative;
    z-index: 1;
}

.custom_banners .sub_heading {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 5px;
    position: absolute;
    top: 10px;
    left: 0px;
    margin: 0;
}

.media_icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 40px 170px 0;
    position: relative;
    z-index: 1;
}

.media_icons .sub_heading {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 5px;
    margin: 0;
}

.media_icons .profile_icons ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.media_icons .smm_icons img {
    display: block;
    margin-top: 20px;
}

.index_wrapper_cta {
    background: linear-gradient(202deg, rgba(0, 204, 203, 1) 0%, rgba(83, 60, 145, 1) 100%);
}

.inner_cta {
    padding: 100px 170px;
}

.inner_cta .title {
    color: var(--light-color);
    letter-spacing: 1px;
    margin: 0;
}

.inner_cta .sub_heading {
    color: var(--light-color);
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 30px 0 20px;
}

.inner_cta .combo_btn {
    justify-content: center;
}

.footer_wrapper {
    padding: 40px 0 0px;
}

.footer_wrapper .footer_logo a {
    display: block;
    width: 250px;
}

.footer_wrapper .footer_logo .para {
    font-size: 16px;
    line-height: 25px;
    margin: 15px 0 0;
}

.footer_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 15px;
}

.footer_nav ul a {
    display: flex;
    color: var(--secondary-color);
    font-weight: var(--font-600);
}

.copyright {
    margin: 40px 0 0;
    padding: 15px 0 10px;
    background: linear-gradient(202deg, rgba(0, 204, 203, 1) 0%, rgba(83, 60, 145, 1) 100%);
}

.copyright_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.copyright_text p {
    margin: 0;
    color: var(--light-color);
}

.copyright_nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.copyright_nav a {
    display: block;
    font-weight: var(--font-600);
    color: var(--light-color);
}