.blog-page-section {
    position: relative;
    padding: 95px 0px 90px;
}
.news-block-two {
    position: relative;
    margin-bottom: 30px;
}
.news-block-two .inner-box {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}
.news-block-two .inner-box {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}
.news-block-two .inner-box .image {
    position: relative;
    overflow: hidden;
    background-color: #105bc1;
}
.news-block-two .inner-box .lower-content {
    position: relative;
    padding: 30px 30px 25px !important;
    background-color: #ffffff;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.read-more button {
    /* background: #fc470e; */
    /* color: #fff; */
    /* padding: 8px 14px; */
    /* border: none; */
    /* border-radius: 50px; */
    /* font-weight: 700; */
    /* margin: 10px 0; */
    width: 140px;
    border: 2px solid #046cdd;
    background: #046cdd;
    padding: 9px 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    animation-name: pulse-2;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
.news-block-two .inner-box .lower-content a {
    color: #000;
    display: block;
    padding: 10px 0;
}
.blog-detail {
    position: relative;
    margin-bottom: 30px;
}
.blog-detail .inner-box .lower-content {
    position: relative;
    padding: 10px 40px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
}
.related-news {
    padding: 50px 0 0 0;
}
.blog-detail .inner-box .lower-content {
    position: relative;
    padding: 40px 40px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
}
.blog-inner {
    height: 245px !important;
    padding: 90px 0;
    background-position: center !important;
    background-size: cover !important;
}

.blog-detail .inner-box .lower-content p {
    position: relative;
    color: #777777;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 18px;
}
.blogs-add {
    height: 240px;
}
.blog-desc {
    font-size: 13px;
    padding-bottom: 10px;
}
.main-left h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.main-left h1 {
        color: #ffffff;
    font-size: 72px;
    /*font-family: 'Keep Calm Med';*/
    line-height: 48px;
    margin-bottom: 14px;
    position: relative;
    padding-bottom: 16px;
}
.main-sec {
    background: url(../images/ebook-banner1.html);
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
}